MONGODB_URI=mongodb+srv://USER:PASS@cluster/slate
JWT_SECRET=some-long-random-string
CLIENT_ORIGIN=https://locomotive24.github.io,http://localhost:5500
KLIPY_API_KEY=S1kSV8UwrXEt6wnCe2RvOvIQHawnDVXz3Fwwv8gnMQ4e2GvwP5TVtIGfaBVfdv3S
